# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bak

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

# Logfile
*.log
*.lot

# Ignore folder
__history/
Win32/
Logs/
Logs by LOT
.svn/
Debug/
Release/
Ini_Backup/
SoftResetData/
Print/
DataBase/

# Ignore file
PLASMA2.ilc
PLASMA2.ild
PLASMA2.ilf
PLASMA2.ils
*.ldb
*.local
*.~dsk
*.tds
*.vlb
*.mdb
*.map
*.zip
*.ilc
*.ild
*.ilf
*.ils
